---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
---

<Layout title="Nothing Phone 2 | this is not the official page">
	<main>
		<Video></Video>
		
	</main>
</Layout>

<style>
	
</style>
