---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Interface from '../components/Interface.astro';
---

<Layout title="Nothing Phone(2)", description='Nothing Phone 2 rebranding page. This is not the official page'>
	<main>
		<Video></Video>
		
		<Interface></Interface>
		</section>
	</main>
</Layout>

<style>
	
</style>
