---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Interface from '../components/Interface.astro';
import OS from '../components/OS.astro';
import Camera from '../components/Camera.astro';
import Gallery from '../components/Gallery.astro';
import Spects from '../components/Spects.astro';
import Premium from '../components/Premium.astro';
---

<Layout title="Nothing Phone(2)", description='Nothing Phone 2 rebranding page. This is not the official page'>
	<main>
		<Video></Video>
		
		<Interface></Interface>

		<OS></OS>
		
		<Camera></Camera>

		<Gallery></Gallery>

		<!-- <Premium></Premium> -->

		<Spects></Spects>
	</main>
</Layout>

<style>
	
</style>
