<a href="#video">
    <img src="./arrow-up.svg" alt="arrow-up">
</a>

<style>
    a {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 100;
    }
    img {
        width: 50px;
        height: 50px;
    }
    img:hover {
        cursor: pointer;
    }
</style>