<section class="our-camera" id="camera">
    <img src="../../imagen3.webp" alt="camera image">

    <div class="presentation">
        <h1>Our Camera</h1>

        <p>Photos and videos more precise and more dynamic than ever.</p>
    </div>
</section>

<section class="properties">
    <article class="card">
        <video src="../../video7.mp4" autoplay loop muted preload="none"></video>

        <div class="info-card">
            <h2>Advanced HDR</h2>

            <p>Raw Format</p>
            <p>Dark Mode</p>
        </div>
    </article>

    <article class="card">
        <video src="../../video10.mp4" autoplay loop muted preload="none"></video>

        <div class="info-card">
            <h2>Selfie Camera</h2>

            <p>32MP Front Camera</p>
        </div>
    </article>

    <article class="card">
        <video src="../../video6.mp4" autoplay loop muted preload="none"></video>

        <div class="info-card">
            <h2>Dual Rear Camera</h2>

            <p>50MP Main Camera</p>
            <p>50MP Wide Angle Camera</p>
            <p>Motion capture 2.0</p>
            <p>Zoom Super-Res 2X</p>
        </div>
    </article>

    <article class="card">
        <video src="../../video11.mp4" autoplay loop muted preload="none"></video>

        <div class="info-card">
            <h2>Action Mode</h2>

            <p>4K video recording at 60 fps</p>

        </div>
    </article>
</section>

<style>
    .properties{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;
        
        height: 100vh;

        padding: 0 2rem;

        @media (width <= 768px) {
            display: flex;
            flex-direction: column;
            height: auto;
            padding: 0;
            gap: 0;
        }
    }

    .card{
        position: relative;
        overflow: hidden;

        cursor: pointer;

        border-radius: 2rem;


        video{
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all .3s ease-in-out; 

            border-radius: 2rem;

            @media (width <= 768px) {
                border-radius: 0;
            }
        }
        

        &:hover .info-card{
            display: flex;
        }

        &:hover video{
            transform: scale(1.1);
            filter: grayscale(100%);
        }

        .info-card{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.5);

            border-radius: 2rem;

            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            animation: info-fade .5s ease-in-out both;

            h2{
                font-size: 3rem;
                color: var(--white);
                font-family: var(--primaryFont);
            }

            p{
                font-size: 1.5rem;
                color: var(--white);
                text-align: center;
                max-width: 80%;
                font-family: var(--primaryFont);
                font-weight: 100;
            }

            @media (width <= 768px) {
                border-radius: 0;
            }
        }

        @media (width <= 768px) {
            border-radius: 0;
        }
    }

    @keyframes info-fade{
        from{
            opacity: 0;
            scale: 1.1;
        }
        to{
            opacity: 1;
            scale: 1;
        }
    }

    .our-camera{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            height: 100vh;
            width: 100%;
            object-fit: cover;

            animation: img-fade both;
            animation-timeline: view();
            animation-range-start: entry 100%;
            animation-range-end: entry 115%;
        }
    }

    .presentation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100vh;

        animation: presentation-appear both;
        animation-timeline: view();
        animation-range-start: entry 65%;
        animation-range-end: entry 95%;

        h1{
            font-size: 5rem;
            color: var(--white);
            font-family: var(--primaryFont);
        }

        p{
            font-size: 2rem;
            color: var(--white);
            text-align: center;
            /* max-width: 80%; */
            font-family: var(--primaryFont);
            font-weight: 100;

        }
    }

    @keyframes img-fade{
        from{
            opacity: 1;
        }
        to{
            opacity: 0;
        }
    }

    @keyframes presentation-appear{
        from{
            transform: translateY(-100px);
            opacity: 0;
        }
        to{
            transform: translateY(0px);
            opacity: 1;
        }
    }
</style>

<script>
    const cards = document.querySelectorAll('.card');
    
    cards.forEach((card) => {
        const video = card.querySelector('video');
        card.addEventListener('mouseenter', () => {
            video.pause();
        });

        card.addEventListener('mouseleave', () => {
            video.play();
        });
    });
</script>