<header>
    <a href="\"><h1>Nothing (R)</h1></a>

    <nav class="nav-bar">
        <i class="menu fa-solid fa-bars"></i>
        <a href="#interface">Glyph Interface</a>
        <a href="#OS">NothingOS 2.0</a>
        <a href="#camera">Camera</a>
        <a href="#premium">Premium</a>
        <a href="#battery">Battery</a>
        <a href="#spects">Spects</a>
    </nav>

    <div class="media-menu">
        <i  class="cross fa-solid fa-xmark"></i>
        <nav class="nav-media">
            <a href="#interface">Glyph Interface</a>
            <a href="#OS">NothingOS 2.0</a>
            <a href="#camera">Camera</a>
            <a href="#premium">Premium</a>
            <a href="#battery">Battery</a>
            <a href="#spects">Spects</a>
        </nav>
    </div>
</header>


<a href="#video" class="arrow">
    <img src="../../arrow-up.svg" alt="arrow-up">
</a>

<style>
    header{
        position: fixed;
        z-index: 9999;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        padding: 1rem 2rem;
        background-color: transparent;
        color: #fff;
        font-family: var(--primaryFont);

        top: 0;
        left: 0;
        width: 100%;

        animation: fadeIn .5s ease-in-out forwards;
        animation: header-scroll ease-in-out both;
        animation-timeline: scroll(root);
        animation-range: 0 300px;
    }

    header h1{
        font-size: 2rem;
        font-weight: 700;
        
    }

    .nav-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }

    .nav-bar i{
        display: none;
        color: var(--white);
        cursor: pointer;
        font-size: 2rem;
    }

    .media-menu{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;

        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);

        i{
            position: absolute;
            top: 2rem;
            right: 2rem;
            color: var(--white);
            font-size: 2rem;
            cursor: pointer;
        }

        animation: media-fade .3s ease-in-out both;
    }

    .nav-media{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        width: 100%;
        height: 100%;

        font-family: var(--primaryFont);
    }

    .nav-media a{
        font-size: 2rem;
        font-weight: 400;
        color: var(--white);

        transition: all .3s ease-in-out;
    }

    .nav-media a:hover{
        color: scale(1.1);
    }

    @media (max-width: 768px){

        header{
            justify-content: space-between;
        }
        .nav-bar{
            flex-direction: column;
            width: auto;
        }

        .nav-bar i{
            display: block;
        }

        .nav-bar a{
            display: none;
        }
    }

    

    a{
        text-decoration: none;
        color: var(--white);
        font-size: 1.2rem;
        font-weight: 500;

        transition: scale .3s ease-in-out;
    }

    a:hover{
        scale: 1.1;
    }

    .arrow{
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        z-index: 900;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        padding: .5rem;
        background-color: var(--white);
        border-radius: 50%;

        animation: arrow-fade ease-in-out both;
        animation-timeline: scroll(root);
        animation-range: 0 300px;
    }

    .arrow img{
        width: 3rem;
        height: 3rem;
    }

    @keyframes fadeIn{
        from{
            opacity: 0;
            transform: translateY(10px);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes header-scroll{
        from{
            background-color: transparent;
        }
        to{
            background-color: rgba(65, 65, 65, 0.5);
            backdrop-filter: blur(5px);
        }
    }

    @keyframes arrow-fade{
        0%{
            opacity: 0;
            transform: translateY(50px);
        }

        75%{
            opacity: 1;
            transform: translateY(-10px);
        }

        100%{
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes media-fade{
        from{
            opacity: 0;
            transform: translateY(10px);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>

<style is:global>
    .no-scroll{
        overflow: hidden;
    }
</style>

<script src="https://kit.fontawesome.com/ebd46689b1.js" crossorigin="anonymous"></script>

<script>
    const menu = document.querySelector(".menu") as HTMLElement;
    const cross = document.querySelector(".cross");
    const body = document.querySelector("body");
    const media_menu = document.querySelector(".media-menu") as HTMLElement;

    menu.addEventListener("click", ()=>{
        media_menu.style.display = "flex";
        menu.style.display = "none";
        body.classList.add("no-scroll");
    })

    cross.addEventListener("click", ()=>{
        media_menu.style.display = "none";
        menu.style.display = "block";
        body.classList.remove("no-scroll");
    })
</script>