---

---

<section class="show">
    <img class="first-img" src="../../nothingPhone.png" alt="Nothing Phone">

    <div class="info-interface">
        <img src="../../nothingPhone.png" alt="Nothing Phone">

        <div class="info">
            <h1>New Glyph Interface</h1>

            <h2>Love at First Light</h2>

            <p>Una forma de estar pendiente del teléfono sin estar pendiente del teléfono.</p>

            <p>Asigna secuencias de luz y sonido distintas a cada contacto y tipo de notificación</p>
        </div>
    </div>
</section>
<swiper-container style="--swiper-navigation-color: var(--white); --swiper-pagination-color: var(--white)" class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" centered-slides="true" autoplay-delay="4000" autoplay-disable-on-interaction="true" rewind="true" id="interface">
    <swiper-slide>
        <video src="../../video1.mp4" autoplay loop muted preload="none"></video>

        <div class="info-slider">
            <h1>Everyday Functions</h1>

            <h2>Without needing to look at the screen</h2>

            <p>See key information and track its evolution through individual Glyph segments. Use the lights as a timer, battery indicator, volume level check, and your own portable ring light. A genius.</p>
        </div>
    </swiper-slide>

    <swiper-slide>
        <video src="../../video2.mp4" autoplay loop muted preload="none"></video>

        <div class="info-slider">
            <h1>Glyph Notifications</h1>

            <h2>Put the phone aside</h2>

            <p>The new Essential Notifications allow you to focus and continue to be available for important people. When selected contacts or applications send you a notification, a Glyph light flashes insistently until you open it. Everything else can wait.</p>
        </div>
    </swiper-slide>

    <swiper-slide>
        <video src="../../video3.mp4" autoplay loop muted preload="none"></video>

        <div class="info-slider">
            <h1>Glyph Composer</h1>

            <h2>"Put a ring on it"</h2>

            <p>The stage is yours. Touch the different keys to activate a different combination of lights and sounds. When you find your rhythm, press to record and create your own Glyph ringtones.</p>
        </div>
    </swiper-slide>
  </swiper-container>

<style>
    .show{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 200vh;

        position: relative;
    }

    .first-img{
            position: relative;

            animation: movePhone linear both;
            animation-timeline: view();
            animation-range: entry 65% cover 70%;


        }

    .info-interface{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        position: relative;

        img{
            position: relative;
            z-index: 2;

            view-timeline-name: --phone;
            view-timeline-axis: block;
            animation-timeline: --phone;
            animation-name: info-phone;
            animation-range: 20% 40%;
            animation-fill-mode: both;


        }
    }

    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 55%;
        gap: 2rem;

        color: var(--white);
        font-family: var(--primaryFont);
        z-index: 1;

        h1{
            font-size: 5rem;
        }

        h2{
            font-size: 3rem;
        }

        p{
            font-family: var(--secondaryFont);
        }

        view-timeline-name: --phone;
            view-timeline-axis: block;
            animation-timeline: --phone;
            animation-name: info-text;
            animation-range: 5% 30%;
            animation-fill-mode: both;
    }

    @keyframes movePhone{
        0%{
            transform: translateY(200px);
            opacity: 0;
            scale: 1;
        }

        50%{
            transform: translateY(0);
            opacity: 1;
            scale: 1;
        }

        100%{
            scale: 2.5;
            opacity: 0;
        }
    }

    @keyframes info-phone{
        0%{
            opacity: 0;
            transform: translateX(100px);
            scale: 0.9;
        }

        100%{
            opacity: 1;
            transform: translateX(0);
            scale: 1;
        }
    }

    @keyframes info-text{
        0%{
            opacity: 0;
            transform: translateX(-100px);
            scale: 0.9;
        }

        100%{
            opacity: 1;
            transform: translateX(0);
            scale: 1;
        }
    }

    swiper-container {
      width: 100%;
      height: 100vh;
    }

    swiper-slide {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        color: var(--white);

        video{
            width: 50%;
            height: 100%;
            border-radius: 0 5rem 5rem 0;
        }
    }

    .info-slider{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        color: var(--white);
        font-family: var(--primaryFont);
        z-index: 1;

        animation: intro-slider ease-in-out 1s;

        h1{
            font-size: 5rem;
            animation: intro-info both;
            animation-timeline: view();
            animation-range: entry 65% cover 70%;

            text-wrap: balance;
        }

        h2{
            font-size: 3rem;
            text-wrap: balance;
        }

        p{
            font-family: var(--secondaryFont);
            width: 60%;
            text-wrap: pretty;
        }
    }
    
</style>

 <!-- Swiper JS -->
 <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>