---

---

<section class="show">
    <img class="first-img" src="../../nothingPhone.png" alt="Nothing Phone">

    <div class="info-interface">
        <img src="../../nothingPhone.png" alt="Nothing Phone">

        <div class="info">
            <h1>New Glyph Interface</h1>

            <h2>Love at First Light</h2>

            <p>Una forma de estar pendiente del teléfono sin estar pendiente del teléfono.</p>

            <p>Asigna secuencias de luz y sonido distintas a cada contacto y tipo de notificación</p>
        </div>
    </div>
</section>

<section class="slider" id="interface">
    <img src="../../left.svg" class="left" alt="left arrow">

    <div class="slider-container">
        <video src="../../Video1.mp4" autoplay loop muted></video>

        <div class="info-slider">
            <h1>Everyday Functions</h1>

            <h2>Without needing to look at the screen</h2>

            <p>See key information and track its evolution through individual Glyph segments. Use the lights as a timer, battery indicator, volume level check, and your own portable ring light. A genius.</p>
    </div>

    <img src="../../right.svg" class="right" alt="right arrow">
</section>

<style>
    .slider{
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        height: 100vh;
        width: 100%;

        margin-top: 2rem;

        img{
            position: absolute;
            z-index: 2;
            width: 3rem;
            color: var(--white);
            transition: all 0.3s ease-in-out;

            &:hover{
                cursor: pointer;
                scale: 1.1;
            }

            &:first-child{
                left: 10px;
            }

            &:last-child{
                right: 10px;
            }
        }
    }

    .slider-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        video{
            width: 50%;
        }
    }

    .info-slider{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        color: var(--white);
        font-family: var(--primaryFont);
        z-index: 1;

        animation: intro-slider ease-in-out 1s;

        h1{
            font-size: 5rem;
            animation: intro-info both;
            animation-timeline: view();
            animation-range: entry 65% cover 70%;

            text-wrap: balance;
        }

        h2{
            font-size: 3rem;
            text-wrap: balance;
        }

        p{
            font-family: var(--secondaryFont);
            width: 60%;
            text-wrap: pretty;
        }
    }


    .show{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 200vh;

        position: relative;
    }

    .first-img{
            position: relative;

            animation: movePhone linear both;
            animation-timeline: view();
            animation-range: entry 65% cover 70%;


        }

    .info-interface{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        position: relative;

        img{
            position: relative;
            z-index: 2;

            view-timeline-name: --phone;
            view-timeline-axis: block;
            animation-timeline: --phone;
            animation-name: info-phone;
            animation-range: 20% 40%;
            animation-fill-mode: both;


        }
    }

    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 55%;
        gap: 2rem;

        color: var(--white);
        font-family: var(--primaryFont);
        z-index: 1;

        h1{
            font-size: 5rem;
        }

        h2{
            font-size: 3rem;
        }

        p{
            font-family: var(--secondaryFont);
        }

        view-timeline-name: --phone;
            view-timeline-axis: block;
            animation-timeline: --phone;
            animation-name: info-text;
            animation-range: 5% 30%;
            animation-fill-mode: both;
    }

    @keyframes movePhone{
        0%{
            transform: translateY(200px);
            opacity: 0;
            scale: 1;
        }

        50%{
            transform: translateY(0);
            opacity: 1;
            scale: 1;
        }

        100%{
            scale: 2.5;
            opacity: 0;
        }
    }

    @keyframes info-phone{
        0%{
            opacity: 0;
            transform: translateX(100px);
            scale: 0.9;
        }

        100%{
            opacity: 1;
            transform: translateX(0);
            scale: 1;
        }
    }

    @keyframes info-text{
        0%{
            opacity: 0;
            transform: translateX(-100px);
            scale: 0.9;
        }

        100%{
            opacity: 1;
            transform: translateX(0);
            scale: 1;
        }
    }

    
    
</style>

<script>
    const array = [
    {
        id: 1,
        title: `Everyday Functions`,
        subtitle: "Without needing to look at the screen",
        text: "See key information and track its evolution through individual Glyph segments. Use the lights as a timer, battery indicator, volume level check, and your own portable ring light. A genius.",
        video: "../../Video1.mp4"
    }, 

    {
        id: 2,
        title: "Glyph Notifications",
        subtitle: "Put the phone aside",
        text: "The new Essential Notifications allow you to focus and continue to be available for important people. When selected contacts or applications send you a notification, a Glyph light flashes insistently until you open it. Everything else can wait.",
        video: "../../Video2.mp4"
    }, 

    {
        id: 3,
        title: "Glyph Composer",
        subtitle: " \"Put a ring on it\"",
        text: "The stage is yours. Touch the different keys to activate a different combination of lights and sounds. When you find your rhythm, press to record and create your own Glyph ringtones.",
        video: "../../Video3.mp4"
    }
];


const slider = document.querySelector(".slider-container");
const left = document.querySelector(".left");
const right = document.querySelector(".right");

let counter = 0;

left.addEventListener("click", () => {
    counter--;

    if(counter < 0){
        counter = array.length - 1;
    }

    updateSlide();
});

right.addEventListener("click", () => {
    counter++;

    if(counter > array.length - 1){
        counter = 0;
    }

    updateSlide();
});

function updateSlide() {
    const videoElement = slider.querySelector("video");
    const infoElement = slider.querySelector(".info-slider");

    videoElement.src = array[counter].video;
    infoElement.innerHTML = `
        <h1>${array[counter].title}</h1>
        <h2>${array[counter].subtitle}</h2>
        <p>${array[counter].text}</p>
    `;
}


</script>