<section class="container-video">
    <video src="../../videoPrincipal2.mp4" autoplay loop muted></video>

    <div class="info-video">
        <h1>Phone(2)</h1>

        <h2>Come to the bright side</h2>

        <div class="botons-video">
            <a href="#" class="btn-blur btn no-btn">$699</a>
            <a href="https://es.nothing.tech/pages/phone-2" class="btn btn-light">Buy</a>
        </div>
    </div>
</section>

<style>
    .container-video{
        position: relative;
        width: 100%;
        height: 100vh;
        video{
            position: absolute;
            width: 100%;
            height: 100vh;
            object-fit: cover;
            
        }
    }

    .info-video{

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        z-index: 1;
        

        color: white;
        text-align: center;
        h1{
            font-size: 8rem;
            font-family: --principal-font;
            animation: video-appear 0.5s ease-in-out forwards;

            cursor: default;
        }

        h2{
            font-size: 2rem;
            font-family: --principal-font;
            animation: video-appear 0.5s 0.1s ease-in-out forwards;

            cursor: default;
        }

        animation: video-appear 0.5s ease-in-out forwards;
    }

    .botons-video{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        animation: video-appear 0.5s 0.2s ease-in-out forwards;
    }

    .btn{
        padding: 1rem 2rem;
        border-radius: 2rem;
        font-size: 1.5rem;
        font-family: --secunadary-font;

        color: var(--white);
        text-transform: uppercase;

        transition: .3s ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
    }

    .btn-blur{
        background-color: rgba(128, 128, 128, .5);
        backdrop-filter: blur(10px);
    }

    .btn-light{
        background-color: var(--white);
        color: var(--black);
    }

    .no-btn{
        cursor: default;
        &:hover{
            transform: scale(1);
        }
    }

    @keyframes video-appear{
        0%{
            opacity: 0;
            top: 51%;
        }
        100%{
            opacity: 1;
            top: 50%;
        }
    }
</style>