---
import '@fontsource/poppins';
import '@fontsource-variable/onest';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/favicon_nothing.webp" />
		<title>{title}</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root{
    --primaryFont:'Onest Variable', sans-serif;
	--secondaryFont:'Poppins', sans-serif;
    --black: #18182A;
    --white: #F6FAFF;
	--blue: #76D8D9;
	--blur: #80808080;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
	scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: var(--secondaryFont);
    font-size: 1.6rem;
    margin: 0;
    background-color: var(--white);

	background-color: black;
}

::-webkit-scrollbar {
	width: 0.5rem;
	height: .5rem;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--white);
	border-radius: 1rem;
}


h1,h2,h3, p{
    margin: 0;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}
</style>
