---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '@fontsource/poppins';
import '@fontsource-variable/onest';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root{
    --primaryFont:'Onest Variable', sans-serif;
	--secondaryFont:'Poppins', sans-serif;
    --black: #18182A;
    --white: #F6FAFF;
	--blue: #76D8D9;
	--blur: #80808080;

    
    
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: var(--secondaryFont);
    font-size: 1.6rem;
    margin: 0;
    background-color: var(--white);

}

h1,h2,h3, p{
    margin: 0;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}
</style>
